<template name="header">
<header class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<a href="#" class="brand-logo left">Logo</a>
				<ul id="nav-mobile" class="right">
					<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
</template>