<template name="home">
  <main class="home">
    {{> header}}
    <section class="logo valign-wrapper">
      <div class="container valign center">
        {{> logo}}
      </div>
    </section>
    <section class="facebook valign-wrapper">
      <div class="container valign center facebook">
        <a class="waves-effect waves-light btn facebook-btn" id="login-buttons-facebook"><i class="fa fa-facebook fa-1x"></i> &nbsp; Login with facebook</a>
        {{> loginButtons}}
      </div>
      
    </section>
  </main>
</template>